<%@secrets.each do |s|%>
	<p><%=s.user.name%> wrote a secret: <%=s.content%></p>
	<form action="/secrets/<%=s.id%>" method = "post">
		<input type="hidden" name = "authenticity_token" value = "<%=form_authenticity_token%>">
		<input type="hidden" name = "_method" value = "delete">
		<input type="submit" value = "Delete">
	</form>
<%end%>
